* {
  font-size: 20px;
  font-family: "Noto Sans TC", system-ui,"Noto Sans CJK TC", sans-serif, serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  box-sizing: Border-box;
}


div{
  text-align: center;
}
#main-container {
  margin: 0;
  width: 100vw;
  height: 100vw;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  border-radius: 5px;
}

.navbar-collapse {
  flex-grow: 0;
  text-align: right;
}

.align-items-start {
  padding: 20px;
}

.btn-link {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
.column-name-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.column-name {
  font-size: 20px;
  padding: 8px;
  margin: 0 20px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(148, 163, 248);
  border-radius: 3px;
}

.row-value {
  min-width: 190px;
  min-height: 40px;
  text-wrap: nowrap;
  overflow-x: auto;
  background-color: transparent;
  margin: 0 10px;
  padding: 8px;
}
.updatable  {
  width: 100%;
  
  text-align: center;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: #887979;
}


.page-container {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar-page {
  max-width: 300px;
}



.main-page {
  padding: 20px;
  flex: auto;
  max-width: 80%;
}


.show-data-section{
  text-align: center;
}

.pagination-container{
  text-align: center;
}

.table-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 20px #887979;
  padding: 0 30px;
}

.input-container {
  width: auto;
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  place-content: center;
}

.input-group {
  flex-wrap: nowrap;
  width: auto;
  max-width: 100%;
  margin: 20px;
}

.submit-btn {
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.pagination{
  text-align: center;
  width: auto;
}

.table{
  overflow: auto;
  min-height: 400px;
}


.table-row{
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 3px ;
}

.list-group-item{
  border-radius: 5px;
}

/* .disabled{
  background-color: #887979;
} */

.list-group{
  border-radius: 5px;
}

.message-container{
  text-align: center;
  margin: 20px 0;
}

.search-input-container{
  display: flex;
  text-align: center;
  justify-content:center;
  
}

.unique-index{
  display: grid;
  place-content: center
}

.input-section {
  display: grid;
  place-content: center
}

.active > a{
  color: white;
}

.list-group-item:disabled{
  background-color: #CFE2FF;
}

.checkbox{
  display: flex;
}

.inner-from-check{
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-list{
  max-height: 160px;
  overflow-y: auto;
}

.dropdown-item{
  height: 40px;
}

.border{
  border-radius:  8px;
}

.form-check-input{
  border: #497196 solid 1.5px;
  
}

.side-title{
  font-size: 25px;
  font-weight: 300;
}


.pagination-container {
  position: relative;
}

.dropdown-menu {
  width: 100px;
}

.page-item{
  cursor: pointer;
}

.name-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px ;
}

@media (max-width:1600px) {
  .main-page{
    width: 1000px;
  }
  .input-container {
      grid-template-columns: 1fr 1fr 1fr 
    }

}

@media (max-width:1300px) {
  .input-container {
      grid-template-columns: 1fr 1fr 
    }
  .main-page {
    width: 600px;
  }
}

@media (max-width:1000px) {
  .main-page {
      display: flex;
      flex-direction: column;
      min-width: 450px;
    }
  .sidebar-page {
    max-width: 200px;
  }
  .input-container {
      display: flex;
      flex-direction: column;
    }
  .unique-index {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }

    

  .input-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .search-input-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width:720px) {
  .sidebar-page {
      max-width: 100%;
    }
  .page-container {
    display: flex;
    flex-direction: column;
  }


}