.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.main-block{
  height: 400px;
  margin: 30px 0;
  width: 100%;
}
.item-container{
  overflow-y: auto;
  height: 100%;
}
.block-title{
  margin-bottom: 10px ;
}
.title-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item-img {
  /* width: 640px;
  height: 480px; */
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

