.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.main-block{
  height: 200px;
  margin: 30px 0;
  width: 100%;
}
.item-container{
  overflow-y: auto;
  height: 100%;
}
.block-title{
  margin-bottom: 10px ;
}
.title-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.item-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

